@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

$primary: #FF7A00;
$secondary: #001E89;
$dark: #383838;
$white: #FAFAF9;
$light: #f5f5f5;
$milk: #FFF9F3;


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

body {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    background-color: $white;
    position: relative;
    overflow-x: hidden;
}

.overflow-visible {
    overflow: visible;
}

.overflow-x {
    overflow-x: hidden;
}

.floater {
    animation: float 2s infinite alternate linear;
}

.arrow {
    animation: arrow 2s infinite alternate linear;
}

.bg-blue {
    background-color: $secondary;
}

.bg-orange {
    background-color: $primary;
}

.text-white {
    color: $white;
}

.text-orange {
    color: $primary;
}

.text-black {
    color: $dark;
}

.big {
    font-size: 2.5rem;
}

.cta-border {
    border-radius: 20px 20px 20px 0px;
}

.top {
    scroll-snap-align: start;
}

// navbar
.navbar {
    min-height: 10vh;
    width: 100%;
    align-items: center;
    flex-grow: 1;    
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 2.4rem 1rem;

    .navbar-brand {
        color: $white;
        font-size: 1.4rem;
    }

    .navbar-toggler {
        z-index: 5;
        border: none;
        font-size: 1.7rem;
    }

    .logo {
        width: 5rem;
        height: 4rem;
        margin-right: 10px;
    }

    .navbar-nav {
        display: flex;
        flex-grow: 1;
        margin-left: auto;
        align-items: center;
        font-size: 1.2rem;
        margin: 1.2rem 0;

        a:nth-of-type(1) {
            margin-left: auto;
        }

        a:nth-of-type(6) {
            margin-left: auto;
        }

        @media screen and (max-width: 500px){
            font-size: 1.5rem;

            a {
                margin-left: 0 !important;
            }
        }

        .nav-link {
            color: $white;
        }

        .active {
            color: $primary !important;
            transition: all 0.3s linear;
        }

        .cta {
            padding: 1rem 3rem;
            border-radius: 20px 20px 0 20px;
            background-color: $primary;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #FAFAF9;
                color: #FF7A00;
            }

            @media (max-width: 500px) {
                padding: 0;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                    color: #FF7A00;
                }
            }
        }
    }

    @supports (gap: 1.2rem){
        .navbar-nav {
            gap: 1.2rem;
            margin: 0;
        }
    }
}

#hero {
    min-height: 90vh;
    padding: 10px;
    position: relative;
    display: flex;
    margin-top: 10vh;


    .inner {
        // display: flex;
        align-items: center;
        justify-content: center;
        max-height: 100%;
        position: relative;
    }

    .header-text {
        // background-color: red;

        h2 {
            color: $dark;
            font-size: 5rem;
            font-weight: bold;

            span {
                color: $primary;
            }
        }

        p {
            font-size: 1.8rem;
            color: $dark;
            // margin-top: 2rem;
            // margin-bottom: 4rem;
        }

        .cta {
            padding: 1.3rem 3rem;
            background-color: $primary;
            color: $white;
            text-decoration: none;
            box-shadow: 0px 10px 15px -9px rgba(255, 123, 0, 0.884);
            transition: all 0.2s linear;
            display: inline-block;

            &:hover {
                transition: all 0.2s linear;
                transform: translateY(-3px);
                box-shadow: 0px 15px 25px -6px rgba(255, 123, 0, 0.479);
                background-color: lighten($color: #FF7A00, $amount: 5);
            }
        }
    }

    .header-img {
        margin: 2rem 3rem;
        max-width: 50rem;
        max-height: 100%;
        overflow: visible;
        position: relative;

        .bg {
            position: relative;
            top: 5px;
            left: 0;
            z-index: 2;
            width: 50rem;

            @media screen and (max-width:500px){
                width: 30rem;
            }
        }

        .ph {
            position: absolute;
            top: 0;
            left: 50px;
            z-index: 5;
            width: 23rem;
            animation: float 2s infinite ease-in-out alternate;

            @media screen and (max-width:500px){
                width: 15rem;
                left: 30px;
            }
        }

        svg {
           max-width: 100%;

           rect#phone-img {
               animation: float 2s infinite ease-in-out alternate;
               transform-origin: center;
               transform-box: fill-box;
           }
        }
    }

    .mouse {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
    }
}

#about-us {
    min-height: 90vh;
    background-color: $milk;

    .row {
        display: flex;
        align-items: center;
    }

    .left {
        width: 100%;
        height: 100%;

        img {
            width: 500px;
        }
    }

    .right {
        h2 {
            color: $dark;
            font-size: 5rem;
            font-weight: bold;

            span {
                color: $primary;
            }
        }
        p {
            font-size: 1.6rem;
            margin: 2rem 0;
        }

        .store-links {
            display: flex;

            .apple {
                background-color: #111;
                padding: 1rem;
                display: flex;
                align-items: center;
                line-height: 12px;
                color: $light;
                border-radius: 10px;
                height: 100%;
                margin: 0 20rem;

                p {
                    font-size: 0.8rem;
                    margin: 0;
                }

                h3 {
                    font-size: 2rem;
                    font-weight: bolder;
                }


                img {
                    display: block;
                    margin-right: 10px;
                }
            }
            .google {
                background-color: #111;
                padding: 1rem 2rem;
                display: flex;
                align-items: center;
                line-height: 12px;
                color: $light;
                border-radius: 10px;
                height: 100%;

                p {
                    font-size: 0.8rem;
                    margin: 0;
                }

                h3 {
                    font-size: 2rem;
                    font-weight: bolder;
                }


                img {
                    display: block;
                    margin-right: 10px;
                }
            }
        }

        @supports (gap: 20px){
            .store-links {
                gap: 20px;

                .apple, .google {
                    margin: 0 0;
                }
            }
        }
    }
}

#why-us {
    min-height: 90vh;
    background: radial-gradient(50% 50% at 50% 50%, #052BB3 0%, #001E89 100%);
    transform: skewY(-3deg);

    .un-skew {
        transform: skewY(3deg);
    }

    h2 {
        font-size: 5rem;
        font-weight: bold;
        color: $white;
        text-align: center;

        span {
            color: $primary;
        }
    }

    .card {
        background: rgba(17, 17, 17, 0);
        border: none;
        border-radius: 30px 30px 0 30px;
        color: white;
        text-align: center;
        margin-top: 2rem;
        padding: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all 0.4s ease-in-out;

        &:hover {
            transition: all 0.4s ease-in-out;
            background-color: darken($color: #001E89, $amount: 5);
            border-radius: 40px 40px 0 40px;
            transform: translateY(-15px);
            box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.26);
        }

        img {
            margin: 2rem 0;
            width: 40px;
        }

        h3 {
            margin: 2rem 0;
            font-size: 3rem;
            font-weight: bold;
        }

        p {
            font-size: 1.7rem;
            margin: 3rem 1rem;
        }

        .cta {
            align-self: end;
            color: $primary;
            text-decoration: none;
            display: inline;
            padding: 1rem 2rem;
            border-radius: 15px 15px 0 15px;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $primary;
                color: $white;
                padding: 1rem 2rem;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}

#how-it-works {
    min-height: 90vh;

    // .row {
    //     // gap: 10px;
    // }

    .left {
        max-width: 100%;
        // background-color: red;
    }

    .right {
        color: $dark;

        h2 {
            font-size: 5rem;
            font-weight: bold;

            span {
                color: $primary;
            }
        }

        p {
            font-size: 1.4rem;
        }
    }
}

#what-we-offer {
    min-height: 90vh;
    background-color: $milk;

    h2 {
        font-size: 5rem;
    }

    .card {
        // background-color: rgba(255, 123, 0, 0.089);
        background-color: transparent;
        border: 1px solid rgba(255, 123, 0, 0.103);
        // border: none;
        border-radius: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        max-width: 350px;
        margin: 2rem 0;
        transition: 0.3s all ease-in-out;

        &:hover {
            transform: translateY(-10px);
            transition: 0.3s all ease-in-out;
        }

        img {
            width: 30px;
        }

        .cta {
            background-color: transparent;
            border: 1px solid $primary;
            color: $primary;
            display: block;
            width: 50%;
            padding: 1rem 2rem;
            text-align: center;
            margin-left: auto;
            border-radius: 20px 20px 0 20px;
            transition: 0.3s all ease-in-out;

            &:hover {
                background-color: $primary;
                transition: 0.3s all ease-in-out;
            }

            &:hover > a {
                color: $light;
            }

            a {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}

#footer {
    min-height: calc(100% + 10vh);
    background: radial-gradient(66.15% 66.15% at 50% 33.85%, #052BB3 0%, #001E89 100%);
}

@media screen and (max-width: 500px) {
    html {
        font-size: 50%;
    }

    #hero {

        .header-img {
            max-width: 250px;
            height: auto;
            // overflow: hidden;
            // background-color: red;
        }

        .header-text {
            text-align: center;
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes arrow {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}